# Segmenting and Clustering Neighborhoods in Toronto | Part-2

In [2]:
!pip install geocoder

Requirement already satisfied: geocoder in c:\users\kiit\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: click in c:\users\kiit\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: six in c:\users\kiit\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: future in c:\users\kiit\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: requests in c:\users\kiit\anaconda3\lib\site-packages (from geocoder) (2.21.0)
Requirement already satisfied: ratelim in c:\users\kiit\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\kiit\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\kiit\anaconda3\lib\site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit\anaconda3\lib\site-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\kiit\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: decorator in c:\users\kiit\anaconda3\lib\site-packages (from ratelim->geocoder) (4.3.0)

In [3]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [4]:
#niyati sinha

In [5]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode           Borough                            Neighborhood
0    M1A\r\n  Not assigned\r\n                        Not assigned\r\n
1    M1B\r\n   Scarborough\r\n                          Malvern, Rouge
2    M1C\r\n   Scarborough\r\n  Rouge Hill, Port Union, Highland Creek
3    M1E\r\n   Scarborough\r\n       Guildwood, Morningside, West Hill
4    M1G\r\n   Scarborough\r\n                                  Woburn

In [6]:
print(df.shape)
df.describe()

(180, 3)

       Postalcode           Borough      Neighborhood
count         180               180               180
unique        180                11               100
top       M3T\r\n  Not assigned\r\n  Not assigned\r\n
freq            1                77                77

In [7]:
#Niyati Sinha
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.70941386000004, -79.36309957799995]

In [9]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [10]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [11]:
df[df.Postalcode == 'M5G']

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [12]:
df.head(15)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1A\r\n,Not assigned\r\n,Not assigned\r\n,43.648690,-79.385440
1,M1B\r\n,Scarborough\r\n,"Malvern, Rouge",43.808626,-79.189913
2,M1C\r\n,Scarborough\r\n,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
3,M1E\r\n,Scarborough\r\n,"Guildwood, Morningside, West Hill",43.765806,-79.185284
4,M1G\r\n,Scarborough\r\n,Woburn,43.771545,-79.218135
5,M1H\r\n,Scarborough\r\n,Cedarbrae,43.768791,-79.238813
6,M1J\r\n,Scarborough\r\n,Scarborough Village,43.744203,-79.228725
7,M1K\r\n,Scarborough\r\n,"Kennedy Park, Ionview, East Birchmount Park",43.726881,-79.265694
8,M1L\r\n,Scarborough\r\n,"Golden Mile, Clairlea, Oakridge",43.713340,-79.284942
9,M1M\r\n,Scarborough\r\n,"Cliffside, Cliffcrest, Scarborough Village West",43.723538,-79.228353
10,M1N\r\n,Scarborough\r\n,"Birch Cliff, Cliffside West",43.696448,-79.265642
11,M1P\r\n,Scarborough\r\n,"Dorset Park, Wexford Heights, Scarborough Town...",43.761310,-79.269940
12,M1R\r\n,Scarborough\r\n,"Wexford, Maryvale",43.750043,-79.300537
13,M1S\r\n,Scarborough\r\n,Agincourt,43.793930,-79.265694
14,M1T\r\n,Scarborough\r\n,"Clarks Corners, Tam O'Shanter, Sullivan",43.784902,-79.304725

In [13]:
df.to_csv('toronto_part2.csv',index=False)